// dark mode scheme
$darkMainColor = #f94135 	 // 主题色
$darkPrimaryText = #ffffff   // 文字的首要颜色
$darkRegularText = #b8b8b8   // 常规文字颜色
$darkSecondaryText = #7f7f7f // 次要文字颜色
$darkBorder = #373737        // 边框颜色
$darkBoundary = #171514      // 边界颜色
$darkBgColor = #171514       // 深色背景颜色
$darkCard = #232222          // 深色卡片颜色
$darkMask = rgba(0, 0, 0, 0.9)

// light mode scheme
$lightMainColor = #d71a1b
$lightPrimaryText = #292525
$lightSecondaryText = #8e8787
$lightRegularText = #4c4e4d
$lightBorder = #e5e5e5
$lightBoundary = #e5e5e5
$lightBgColor = #f4f4f4
$lightCard = #ffffff
$lightMask = rgba(255, 255, 255, 0.9) // 遮罩颜色

$darkNavColor = #232222
$codeBgColor = #171a20
$accentColor = var(--main-color)
